header {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	box-sizing: border-box;
	padding: 1.5em 1em 1.5em 1em;
}

header h1 {
	font-size: 1.25em;
	margin: 0;
}

header .user-info {
	margin-left: auto;
}

header img {
	display: block;
}

table {
	width: 100%;
	border-collapse:collapse;
}

tr,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

#data-display > tr > td:first-of-type,
thead tr > td:first-of-type {
	box-sizing: border-box;
	width: 80px;
	text-align: center;
}

thead {
	font-weight: bold;
}

#data-display > tr > td:first-of-type img {
	height:30px;
	width: 30px;
	display: block;
	margin: 0 auto;
}

#form-cell img {
	display: block;
	float:left;
	padding: 0 1em;
}

tbody td {
	vertical-align: middle;
	padding: .5em 0;
}

#data-container > tbody > tr > td:nth-child(n+6):nth-child(-n+7):before {
	content: "$";
}
thead > tr > td:nth-child(n+6):nth-child(-n+7),
#data-container > tbody > tr > td:nth-child(n+6):nth-child(-n+7) {
	text-align: right;
}

tbody tr:nth-child(odd) {
	background-color: #FAFAFA;
}
thead > tr > td:nth-child(n+8),
#data-container > tbody > tr > td:nth-child(n+8) {
	text-align: center;
}

table input {
	max-width: 100%;
	outline: none;
}

#total-monthly,
#total-annual {
	text-align: center;
}

#total-annual:before {
	content: 'Total Annual Salary: $';
}

#total-avg:before {
	content: 'Total Avg Salary: $';
}

#total-monthly:before{
	content: 'Total Monthly Expenditure: $';
}